body {
  height:100rem;
  background-color: orangered;
}

p{
  font-size: 2rem;
  width:
}

input {
  background-color:;
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  top:50%;
  left: 25vmin;
  width: 30rem;
  height: 15rem;
  font-size: 3rem;
}

#buttonClick {
  background-color: fuchsia;
  border-radius: 5px;
  position: fixed;
  top:70%;
  left: 17rem;
  height: 15rem;
  width: 30rem;
  font-size: 45px;
}

.quoteDiv {
  opacity: 0;
  transition: 0.5s ease-in; 
  position: absolute;
  left: 7%;
  width: 50rem;
  height: 10rem;
  font-size: 3rem;
  text-align: center;
}

.toggleClass {
  opacity: 1;
 
}